*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Armata', sans-serif;
  font-size: 1em;
  background-color:#F5F5F5;
  color: #202020;
}


/*navbar*/
label{
  display: block;
}

.menu{
  text-align: center;
  width: 100%;
  display: none;

}

.menu a{
  display: block;
  margin: 0;
  text-decoration: none;
}

#toggle:checked + .menu{
  display: block;
}

/*FOOTER*/

footer{
  background-color: #F2F1EC;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 30px;
}
#logofooter{
  order:1;
  width: 100px;
  position: relative;
  top: -95px;
  max-height: 100px;
}
.adresse{
  order: 2;
  width: 150px;
}
.kontakt{
  width: 150px;
}





  /*PAKKETILBUD (+TIPS)*/
.alt{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.pakketilbud{
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.contentpakke{
  padding: 60px;
}

.imgpakketilbud{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.headerpakke{
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 2em;
}

.bestill{
  letter-spacing: 2px;
  padding: 1em;
  border:1px;
  background:#030303;
  color: #F5F5F5;
  padding:1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  float:right;
}

.bestill:hover{
  padding: 1em;
}

/*TIPS*/

#tips_innledning {
  display: flex !important;

}

.paragraf_tips{
  margin-top: 30px;
  margin-bottom: 30px;
}


/*KONTAKT*/
h2{
  font-size: 3em;
  font-weight: 800;
}
#contentkontakt{
  display: inline-block;
  padding: 10%;
}

#kontakt_om_oss{
  padding-left: 10%;
  padding-right: 10%;
}


#kontor{
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;

}

footer{
  background-color: #F2F1EC;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
#logofooter{
  order:1;
  width: 100px;
  position: relative;
  top: -80px;
  max-height: 100px;
}
#adresse{
  order: 2;
}

/* BESTILLING */

.bestill_body{
  margin: 10%;
}

.bestill_labels{
  margin-left: auto;
  margin-right: auto;
}


#bekreftelse {
  display: none;
  background-color: black;
  color: white;
  padding: 20px;
  width: 80%;
  text-align: center;
  margin-top: 100px;
}

#bestill_link {
  font-weight: bold;
  text-decoration: none;
  transition: font-size 0.3s ease-out;
  color: #151515;
}

#bestill_link:hover {
  font-size: larger

}

#pakkelink:visited {
  color: inherit;
}


/* .select_bestill {
  position: relative;
} */

.bestill_select select { /* Dropdown */
  background: white;
  padding: 10px;
  font-size: 1em;
  font-family: 'Armata', sans-serif;
  /* outline: none; */
}

#bestill_select select{
  width: 50%;
}

.boks { /* Blir mer mellomrom mellom input */
  margin: 15px 0px 10px 0px;
}
.bestill_innledning {
  margin-bottom: 20px;
}

.bestill_labels {
  font-weight: bold;
  margin-bottom: 5px;
}

#alle_input{
}

.bestill_input { /* Alle input */
  width: 80%;
  background: white;
  font-size: 1em;
  font-family: 'Armata', sans-serif;
  padding: 10px;
  border: 1px #D9D9D9 solid;
}

#dato, #deltakere, #pris {
  width: 50%;
  font-size: 1em;
  font-family: 'Armata', sans-serif;
  padding: 3px;
}

#kommentarer {
  height: 100px;
}

#bestill_knapp{
  width: 80%;
  float: left;
}


/*GALLERI*/

.column img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}


@media only screen and (min-width: 650px) {
  .imgpakketilbud{
    width: 100%;
    height: 700px;
  }
}


/*DESKTOP*/
@media only screen and (min-width: 1100px) {

  footer{
    padding: 10px;
  }

  #logofooter{
    width: 150px;
    max-height: 150px;
  }

  /*FORSIDE*/
  /* container til slideshow*/
  .slideshow-container {
    box-sizing: border-box;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none; /* gjemmer bildene til defualt */
    animation-name: fade;
    animation-duration: 2s;
  }

  .forsidebildet{
    height: 600px;
    width: 100%;
  }

  @keyframes fade { /*bildene skal ha en fading overgang*/
    from {opacity: .4}
    to {opacity: 1}
  }
  #p1{
    float: left;
    width: 45%;
    margin: 5px;
  }
  #p2{
    float: right;
    width: 45%;
    margin: 5px;
  }
  .tekst{
    font-size: 16px;
    line-height: 1.5;
    width: 95%;
    margin: 2% auto 5%;
    margin-bottom: 10%;
  }

/*PAKKETILBUD*/
  .pakketilbud{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 100px;
   padding-bottom: 100px;
   padding-right: 10%;
   padding-left: 10%;
  }

  .imgpakketilbud{
    width: 500px;
    height:700px;
    object-fit: cover;
    padding: 30px;
  }

  .contentpakke{
    padding: 40px;
    margin: 30px;
  }

  .headerpakke{
    font-size: 200%;
    padding-bottom: 40px;
    padding-top: 60px;
    width: 300px;
  }

  .bestill{
    transition: padding 0.3s ease-out;
  }

  .bestill:hover{
    padding: 1.2em;
  }

  /*TIPS*/

  #wrapper_tips{
    padding-top: 0;
    padding-bottom: 0;
  }


  /*OM OSS*/

  #contentkontakt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10%;
  }

  #bildediv{
    margin: auto;
    overflow: hidden;

  }
  #kontor{
    margin-top: 10%;
    height: 500px;
    object-fit: cover;
  }

  /*GALLERI*/

  #galleri{
    display: flex;
    justify-content: center;
  }

  #row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0px;
  }

  /* Create three equal columns that sits next to each other */
  .column {
    flex: 31%;
    max-width: 31%;
  }

  .column img {
    flex-direction: column;
    transition: transform 0.3s ease-out;
  }

  .img_galleri:hover{
    transform: scale(1.3);
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 20px darkgrey;
  }

  /*navbar*/
  header{
  background: #F2F1EC;
  width:100%;
  margin: 0 auto;
  font-size:25px;
  }

  #logo{
    float: left;
    position: absolute;
    margin-left: 20px;
    width: 200px;
    float: left;
    z-index: 10; /*flytter logoen frem foran blidene*/
  }

  .nav{
    height: 80px;
  }

  .nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 80px;
    text-decoration: none;

  }
  .menu{
    display: block;
  }

  .nav li{
    display: inline-block;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
  }



  .nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav li:hover {
    border-bottom: solid 3px #444;
    font-weight: bold;
  }


  a:visited {
    font-weight: bold;
  }

  .nav:hover{
    color: #000;
  }

  /*header{
  background: #EEEE;
  width:100%;
  margin: 0 auto;
  font-size:18pt;
  }

  #logo{
    float: left;
    position: absolute;
    margin-left: 20px;
  }

  .nav{
    height: 80px;
  }

  .nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 80px;
    text-decoration: none;

  }

  .nav li{
    display: inline-block;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
  }

  #logo{
    width: 200px;
    float: left;
  }

  .nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav li:hover {
    border-bottom: solid 3px #444;
    font-weight: bold;
  }


  a:visited {
    font-weight: bold;
  }

  .nav:hover{
    color: #000;
  }*/

  /* label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: left;
  } */

  #toggle{
    display: none;
  }

  /*forside*/
  #p1{
    float: left;
    width: 45%;
  }

  #p2{
    float: right;
    width: 45%;
  }
  .tekst{
    font-size: 16px;
    line-height: 1.5;
    width: 95%;
    margin: 2% auto 5%;
    margin-bottom: 10%;
  }


}
